div.prof_list{
	padding-left: 100px;
}
div.auto_answer{
	padding-left: 20px;
	font-size: 22px;
	color: #871b1f;
}
.main_login{
	width: 	90%;
	margin: 0 auto;
}
.distribution-main{
	width: 80%;
	margin: 0 auto;
}
.distribution-main p{
	font-size: 20px;
	font-weight: normal;
}